a{
    background-color: azure;
}

/* *{
    background-color: blueviolet;
} */
 
#b{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.c{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}